@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Advent Pro', sans-serif;
  padding: 0;
  margin: 0;


	background: url("media/xboxmanette.jpg")no-repeat;
	background-size: cover;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

h1
{
color:white;
}

h2
{

  color: white;
}

p
{

  color: white;
  rgba: 0.3;
  font-size: 120%;
}
nav {
  overflow: hidden;

  background-image: linear-gradient(green,blueviolet);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 1.2em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}

#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #FFFAE1;
  margin: 60px auto;
}
hr {
  height: 1px;

  background-color: #FFFAE1;
}
#tourisme {
  height: 1400px;

  padding: 1px 2%;
}
#tourisme h2 {
  padding-top: 60px;
}
#NBA {
  background: url(media/loli.jpg) no-repeat;
 

}
#Naruto {
  background: url(media/noroto.jpg)no-repeat;
}
#Elden {
  background: url(media/eldio.png)no-repeat;
}
#Callofw2 {
  background: url(media/wz.jpg)no-repeat;
}
#FIFA23{
  background: url(media/vfifa.png)no-repeat ;
}

#NBA{
  margin: 55px 150px 0 100px;
  height: 970px;
  width: 480%;
  max-width: 960px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#Naruto{
  margin: 65px 90px 0 100px;
  height: 1450px;
  width: 197%;
  max-width: 1230px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

#Elden{
  margin: 65px 150px 0 100px;
  height: 1055px;
  width: 393%;
  max-width: 790px;
  float: center;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

#Callofw2{
  margin: 65px 150px 0 100px;
  height: 1175px;
  width: 190%;
  max-width: 1000px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#FIFA23{
  margin: 65px 250px 0 100px;
  height: 900px;
  width: 90%;
  max-width: 650px;
  float: center;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75); 

}

#tourisme p {
  height: 45px;
  width: 235px;
  background-color: #01DF74;
  float:left;
  margin: 50px -180px 0 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
}
#NBA #Naruto, #Elden #Callofw2 {
  float: right;
}
#chateau p, #vignoble p {
  float: left;
  background-color: cyan;
  margin-left: -180px;
  box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
}
#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #FFFAE1;
  margin: 60px auto;
}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #FFFAE1;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #FFFAE1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
